@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

body {
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
    overflow-x : hidden;
}

nav {
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: #FFF;
    align-items: center;
}

nav .brand {
    font-size: 1.7rem;
    font-weight: bold;
}

nav .useraction {
    display: flex;
    gap: 15px;
    font-size: 1.25rem;
}

.container {
    display: flex;
}
:root {
    --bg-sidebar-profile : rgba(236, 233, 233,1);
    --sidebar-inputs-border:lightgray;
}


/* coins lists */
.container .portfolio-list {
    flex: 4;
    overflow-x : hidden;
}

.wallets {
    margin-bottom: 10px;
    display: flex;
    padding: 4px 10px;
    justify-content: space-between;
    align-items: center;
    line-height: 1.2;
    transition: .3s all;
    border: 1px solid #000;
}
.wallets:hover{
    background-color: white;
}
.logo-name {
    flex-basis: 33%;
    display: flex;
    align-items: center;
}

.logo-name p {
    font-size: 140%;
}

.logo-name img {
    width: 50px;
    margin: 10px;
}


.coin-values {
    flex-basis: 33%;
    cursor: pointer;
    font-size: 100%;
    margin-right: 10px;
    text-align: right;
    padding: 10px;
}

.coin-values p {
    font-size: 140%;
    cursor: pointer;
}
