{% load static %}
{% load livedatatags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <script src="https://kit.fontawesome.com/a8c7f6c38a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{%static 'WxPortfolio/css/style.css' %}">
</head>

<body>
    <nav>
        <div class="brand">
            <p>WxPortfolio</p>
        </div>
        <div class="useraction">
            {% if user.is_authenticated %}
            <a href="#" class="user">{{request.user | upper}}</a>
            <a href="#" class="logout">Logout</a>
            {% else %}
            <a href="#" class="login">Login</a>
            <a href="#" class="register">Register</a>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        {% block container %}        
        <div class="portfolio-list">
            {% for coin in allCoins %}
            <a href="{{coin.code}}">
                <div class="wallets">
                    <div class="logo-name">
                        <img src="https://media.wazirx.com/media/{{coin.basename}}/84.png" alt="">
                        <div>
                            <p>{{coin.basename}}/{{coin.tc}} </p>
                            <small>{{coin.fullname}}</small>
                        </div>
                    </div>
                    <div class="coin-values">
                            <P title="Total {{shib}} coins">{{liveData|price:coin.code}}</P>
                            {% comment %} <small title="current value">₹8,197.22</small> {% endcomment %}
                    </div>
                </div> 
            </a>               
            {% endfor %}
        </div>
        {% endblock container %}
    </div>
    <script src="{% static 'WxPortfolio/js/jquery-3.6.0.min.js'%}"></script>
    <script src="{% static 'WxPortfolio/js/jquery-ui.js'%}"></script>
    <script>
        $(document).ready(function () {
            $('.wallets').mouseover(function () {
                $(this.childNodes[3]).css({ "visibility": "visible" });
            });
            $('.wallets').mouseleave(function () {
                $('.exist-coin-actions').css("visibility", "hidden");
            });
        })
    </script>
</body>

</html>