{% extends 'base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}
{% block content %}
<div class="dashboard_main">
    <!-- side bar -->
    {% include 'sidebar.html' %}

    <div class="dashboard_content_main">
        <!-- user and notification logo -->
        <div class="top_bar">
            <!-- top heading and view all -->
            <div class="top_heading_with_name">
                <h2><span>Hello,</span> Jonathan David</h2>
                <small>
                    <span>Here You can view all of your Barns.</span></small>
                <small>
            </div>
            <div class="notification_user_icon">
                <div>
                    <span>
                        <i class="far fa-bell"></i>
                    </span>
                    <small>2</small>
                </div>
                <div>
                    <span>
                        <i class="far fa-user"></i>
                    </span>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}