{% extends 'base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}
{% block content %}
    <div class="dashboard_main">
        {% include 'sidebar.html' %}

        <div class="devices_content_main">
            <!-- user and notification logo -->
            <div class="top_bar">
                <!-- top heading and view all -->
                <div class="top_heading_with_name">
                    <h2><span>Hello,</span> Jonathan David</h2>
                    <small>
                        <span>Here You can view all of your Devices.</span></small>
                    <small>
                </div>
                <div class="notification_user_icon">
                    <div>
                        <span>
                            <i class="far fa-bell"></i>
                        </span>
                        <small>2</small>
                    </div>
                    <div>
                        <span>
                            <i class="far fa-user"></i>
                        </span>
                    </div>

                </div>
            </div>

            <!-- add button -->
            <div class="add_barnsORdevice">
                <span>+</span>
            </div>

            <div class="devices_overview_main">
                <div class="heading_above_table">
                    <h2>Device Overview</h2>
                    <div class="search_input_container">
                        <input type="search" placeholder="Search Devices">
                        <span class="search_icon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class="table_container">
                    <table class="table main_table">
                        <tr align="left">
                            <th scope="col"></th>
                            <th scope="col">Serial Number</th>
                            <th scope="col">Device name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Location</th>
                            <th scope="col">Tags</th>
                            <th scope="col">Uptime</th>
                            <th scope="col"></th>
                        </tr>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td><i class="far fa-minus-square table_first_icon"></i> #BK001</td>
                                <td>Beakbook 001</td>
                                <td><span class="status_connected"></span>&nbsp; Connected</td>
                                <td>Unassociated</td>
                                <td>#Best #Male #Topquality</td>
                                <td>22h 12m 32min</td>
                                <td><i class="fas fa-ellipsis-v"></i></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td><i class="far fa-minus-square table_first_icon"></i> #BK001</td>
                                <td>Beakbook 001</td>
                                <td><span class="status_disconnected"></span>&nbsp; Disconnected</td>
                                <td>Farm01 | Barn 02</td>
                                <td>#Best #Male #Topquality</td>
                                <td>22h 12m 32min</td>
                                <td><i class="fas fa-ellipsis-v"></i></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td><i class="far fa-minus-square table_first_icon"></i> #BK001</td>
                                <td>Beakbook 001</td>
                                <td><span class="status_connected"></span>&nbsp; Online</td>
                                <td>Farm01 | Barn 02</td>
                                <td>#Best #Male #Topquality</td>
                                <td>22h 12m 32min</td>
                                <td><i class="fas fa-ellipsis-v"></i></td>
                            </tr>

                            <tr>
                                <td><input type="checkbox"></td>
                                <td><i class="far fa-minus-square table_first_icon"></i> #BK001</td>
                                <td>Beakbook 001</td>
                                <td><span class="status_connected"></span>&nbsp; Connected</td>
                                <td>Farm01 | Barn 02</td>
                                <td>#Best #Male #Topquality</td>
                                <td>22h 12m 32min</td>
                                <td><i class="fas fa-ellipsis-v"></i></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td><i class="far fa-minus-square table_first_icon"></i> #BK001</td>
                                <td>Beakbook 001</td>
                                <td><span class="status_disconnected"></span>&nbsp; Disconnected</td>
                                <td>Farm01 | Barn 02</td>
                                <td>#Best #Male #Topquality</td>
                                <td>22h 12m 32min</td>
                                <td><i class="fas fa-ellipsis-v"></i></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td><i class="far fa-minus-square table_first_icon"></i> #BK001</td>
                                <td>Beakbook 001</td>
                                <td><span class="status_connected"></span>&nbsp; Online</td>
                                <td>Farm01 | Barn 02</td>
                                <td>#Best #Male #Topquality</td>
                                <td>22h 12m 32min</td>
                                <td><i class="fas fa-ellipsis-v"></i></td>
                            </tr>

                            <tr>
                                <td><input type="checkbox"></td>
                                <td><i class="far fa-minus-square table_first_icon"></i> #BK001</td>
                                <td>Beakbook 001</td>
                                <td><span class="status_connected"></span>&nbsp; Connected</td>
                                <td>Farm01 | Barn 02</td>
                                <td>#Best #Male #Topquality</td>
                                <td>22h 12m 32min</td>
                                <td><i class="fas fa-ellipsis-v"></i></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td><i class="far fa-minus-square table_first_icon"></i> #BK001</td>
                                <td>Beakbook 001</td>
                                <td><span class="status_disconnected"></span>&nbsp; Disconnected</td>
                                <td>Farm01 | Barn 02</td>
                                <td>#Best #Male #Topquality</td>
                                <td>22h 12m 32min</td>
                                <td><i class="fas fa-ellipsis-v"></i></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td><i class="far fa-minus-square table_first_icon"></i> #BK001</td>
                                <td>Beakbook 001</td>
                                <td><span class="status_connected"></span>&nbsp; Online</td>
                                <td>Farm01 | Barn 02</td>
                                <td>#Best #Male #Topquality</td>
                                <td>22h 12m 32min</td>
                                <td><i class="fas fa-ellipsis-v"></i></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td><i class="far fa-minus-square table_first_icon"></i> #BK001</td>
                                <td>Beakbook 001</td>
                                <td><span class="status_connected"></span>&nbsp; Connected</td>
                                <td>Farm01 | Barn 02</td>
                                <td>#Best #Male #Topquality</td>
                                <td>22h 12m 32min</td>
                                <td><i class="fas fa-ellipsis-v"></i></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td><i class="far fa-minus-square table_first_icon"></i> #BK001</td>
                                <td>Beakbook 001</td>
                                <td><span class="status_disconnected"></span>&nbsp; Disconnected</td>
                                <td>Farm01 | Barn 02</td>
                                <td>#Best #Male #Topquality</td>
                                <td>22h 12m 32min</td>
                                <td><i class="fas fa-ellipsis-v"></i></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td><i class="far fa-minus-square table_first_icon"></i> #BK001</td>
                                <td>Beakbook 001</td>
                                <td><span class="status_connected"></span>&nbsp; Online</td>
                                <td>Farm01 | Barn 02</td>
                                <td>#Best #Male #Topquality</td>
                                <td>22h 12m 32min</td>
                                <td><i class="fas fa-ellipsis-v"></i></td>
                            </tr>

                            <tr>
                                <td><input type="checkbox"></td>
                                <td><i class="far fa-minus-square table_first_icon"></i> #BK001</td>
                                <td>Beakbook 001</td>
                                <td><span class="status_connected"></span>&nbsp; Connected</td>
                                <td>Farm01 | Barn 02</td>
                                <td>#Best #Male #Topquality</td>
                                <td>22h 12m 32min</td>
                                <td><i class="fas fa-ellipsis-v"></i></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td><i class="far fa-minus-square table_first_icon"></i> #BK001</td>
                                <td>Beakbook 001</td>
                                <td><span class="status_disconnected"></span>&nbsp; Disconnected</td>
                                <td>Farm01 | Barn 02</td>
                                <td>#Best #Male #Topquality</td>
                                <td>22h 12m 32min</td>
                                <td><i class="fas fa-ellipsis-v"></i></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td><i class="far fa-minus-square table_first_icon"></i> #BK001</td>
                                <td>Beakbook 001</td>
                                <td><span class="status_connected"></span>&nbsp; Online</td>
                                <td>Farm01 | Barn 02</td>
                                <td>#Best #Male #Topquality</td>
                                <td>22h 12m 32min</td>
                                <td><i class="fas fa-ellipsis-v"></i></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock content %}