{% extends 'base_menu.html' %}
{% block content %}
<div class="container">
  <h1>Ads</h1>
  <p>
    {% if ad_list %}
  <ul>
    {% for ads in ad_list %}
    <li>
      <a href="{% url 'ads:ad_detail' ads.id %}">{{ ads.title }}</a>
      {% if ads.owner == user %}
      (<a href="{% url 'ads:ad_update' ads.id %}">Edit</a> |
      <a href="{% url 'ads:ad_delete' ads.id %}">Delete</a>)
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>There are no ads in the database.</p>
  {% endif %}
  </p>  
</div>
{% endblock %}